GCP_PROJECT_ID=
GCP_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS="path to GCP_SERVICE_ACCOUNT_KEY .json file -> Must update path to "/tmp/{gcp-key}.json" when running with Docker"
BEA_API_KEY=
EIA_API_KEY=
API_SERVICE_URL=
